{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %}  Preussen KI Demonstrator {% endblock %}</h1>

    <p></p>

    <p>Beim Preussen KI Demonstrator handelt es sich um eine Machbarkeitsstudie zu den Möglichkeiten eines spezialisierten Trainings einer LLM zu Fragen der Preußischen Geschichte.</p>
    <p>
        Der Demonstrator erhebt keinen Anspruch auf Vollständigkeit oder fehlerfreies Funktionieren. Der Demonstrator ist zeitlich begrenzt und wird spätestens Ende 2023 wieder abgeschaltet. </p>
    <p>Die verwendeten Daten stammen aus folgender Ressource: <a href=" https://actaborussica.bbaw.de/register/personen/detail.xql?id=P0004671">https://actaborussica.bbaw.de/register/personen/detail.xql?id=P0004671</a></p>

{% endblock %}