{% extends 'base.html' %}

{% block content %}

    <h2>{% block title %} Preussen KI Demonstrator {% endblock %}</h2>
    <p><strong>Chat Mode mit flexiblem Prompt</strong></p>

    <div>
        <hr/>
    </div>

         <form action="" method="POST">
        <div class="chat-container">
          <div class="chat-messages">
            <div class="user-chat">
                <h7>Noch keine Frage gestellt ...</h7>
                <div class="message_holder"></div>
            </div>
            <div class="model-chat">
                <div class="answer_holder"><h7>Noch keine Antwort. ...</h7></div>
                <span class="wait_info"></span>
            </div>
            </div>
          <div class="user-input">
            <div class="user-name">
                <hr/>
                <input type="text" class="username" placeholder="Ihr Name" value="Peter"/>
            </div>
            <div class="user-question">
                <hr/>
                <textarea  class="question" cols="50" rows="3" name="question">Wo liegt Bremen?</textarea>
                <br/>
                <input class="user_button" type="submit" value="Fragen"/>

            </div>
            <div class="sample-questions">
                <p>Beispiele:</p>
                <ol>
                    <li>Wie lautet der volle Name von Werner von Alvensleben?</li>
                    <li>Wann lebte Werner von Alvensleben?</li>
                    <li>Wo wurde Werner von Alvensleben geboren?</li>
                </ol>
            </div>
          </div>

    <div>
        <hr/>
    </div>
    <div>
        <hr/>
    </div>



          <div class="user-context">
              <h6>Context</h6>
              <p>
              <textarea  class="prompt_context" rows="8" cols="120">
                  Hamburg liegt in der Nähe von Bremen. Beide sind ehemalige Hanse-Städte.
              </textarea></p>

          </div>
            <div>
                <hr/>
            </div>

          <div class="user-prompt-template">
              <h6>Prompt Instructions</h6>
              <h8>Using "{context}" and "{question}" from above. Keep syntax - even ' ' and '\n' are influencing the answer.</h8>

              <p><textarea class="prompt_template" rows="8" cols="120">
<s>[INST] <<SYS>>
You are a helpful, respectful and honest assistant.
Always answer as helpfully as possible, while being safe.
Your answers should not include any harmful, unethical, racist, sexist, toxic, dangerous, or illegal content.
Please ensure that your responses are socially unbiased and positive in nature.

If a question does not make any sense, or is not factually coherent,
explain why instead of answering something not correct.
If you don't know the answer to a question, please don't share false information but answer with "I don't know.".
Please answer in the same language as the user. Please answer in full sentences.

Use the following pieces of information to answer the user's question:
{context}
<</SYS>>

{question}[/INST] This is a answer </s>
</textarea>
              </p>
          </div>
        </div>

        </form>

    <div>

    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);

      socket.on( 'connect', function() {
          socket.emit('my event', {
              data: 'User Connected'
          })

        var form = $( 'form' ).on( 'submit', function( e )
        {
            e.preventDefault()
            let user_name = $( 'input.username' ).val()
            let user_question = $( 'textarea.question' ).val()
            let user_prompt = $( 'textarea.prompt_template' ).val()
            let user_context = $( 'textarea.prompt_context' ).val()

            let info_box = document.querySelector('.wait_info')
            info_box.textContent = "Verarbeite Frage ... "

            socket.emit( 'new question', {
                question : user_question,
                prompt : user_prompt,
                context : user_context,
                user_name : user_name
            } )
            $( 'input.message' ).val( '' ).focus()
        } )
      } )

      var counter = 0;
      var status ="wait";


      function delay(milliseconds){
            return new Promise(resolve => {
                setTimeout(resolve, milliseconds);
            });
      }

      socket.on( 'answer ready', async function(msg) {
          status = "ready"
          counter = 0
          my_load = { data:"event 'answer ready' on chat.html got called" }
          my_load['info'] = 'ok:' + msg
          socket.emit('my event', my_load)
      })

      socket.on( 'start waiting', async function(msg) {

          var myInfoElement = document.querySelector('.wait_info');
          var spass ="";
          if (counter<100 && status == 'wait'){

              counter = counter +1
              if (counter>10 && counter<12){
                  spass = " Nun aber flott ... 🏇 ..."
              }
              if (counter>15 && counter < 21){
                  spass = " Es ist korrekt, dass es etwas dauert."
              }
              if (counter>23 && counter < 26){
                  spass = " Wir reizen die Hardware aus."
              }


              if (counter>30 && counter < 41){
                  spass = " Es ist alles ok. 😎 ...  "
              }
              if (counter>40 && counter < 50){
                  spass = " Je grundsätzlicher die Frage, desto schwerer die Antwort. ... "
              }

              if (counter>54 && counter < 56){
                  spass = " Aber das Warten lohnt sich  ... "
              }

              if (counter>59 && counter < 68){
                  spass = " Auch mehr als eine Minute muss man manchmal warten. 😏 ... "
              }
              if (counter>68 && counter < 78){
                  spass = " Mehr Hardware! Und ATM für ALLE!"
              }
              if (counter>88){
                  spass = " Solange der Zähler läuft besteht Anlass zur Hoffnung. 😼"
              }




              myInfoElement.textContent = "Bitte warten ... " + spass + " " + counter
              socket.emit( 'still waiting', {
                shall_wait: 'Shall wait '
              })
          }
          else {
              status = "wait"
              document.querySelector('.wait_info').textContent = ""
          }

      })

      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
            $( 'h7' ).remove()
            let info_box = document.querySelector('.wait_info')
            info_box.textContent = ""
            $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
            $( 'div.answer_holder' ).append( '<div><b style="color: #000">Jarvis:</b> '+msg.answer+'</div>' )

        }
      })
    </script>




{% endblock %}