{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Preussen KI Demonstrator  {% endblock %}</h1>

    <p>Dieses Demo zeigt die Reaktion eines Large Language Models vor und nach dem "Erlernen" spezifischer Inhalte.
        <ol>
        <li>Stellen Sie zunächst dem untrainierten System eine Frage. </li>
        <li>Anschließend wählen Sie einen Text, um den die Wissensbasis erweitert werden soll.</li>
        <li>Danach befragen Sie das System erneut und vergleichen die Antworten.</li>
        </ol>
    </p>
    <p>Fangen sie an:</p>

    <form action = "{{ url_for('step1')}}" method = "POST">
        <p><strong>Ihre Frage:</strong>  <input type = "text" name = "question" size="50" value="Wie lautet der vollständige Name von Werner von Alvensleben und Wilhelm II.?"/></p>

        <p>Für die Berechnung der Antwort werden einige Sekunden benötigt - bitte drücken Sie nicht "Reload"</p>
         <p><input type = "submit" value="Fragen"/></p>
      </form>


{% endblock %}