{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Preussen KI Demonstrator {% endblock %}</h1>
    <h2>Model ohne Zusatzwissen</h2>

  <table>

            <tr>
                <th><strong>Ihre Frage:</strong></th>
               <td> {{ question }} </td>
            </tr>
              <tr>
               <th>Antwort des (untrainierten) Models:</th>
               <td> {{ answer }} </td>
            </tr>

      </table>
    <p></p>
    <p><em>Diese Antwort ist wahrscheinlich falsch, da dem Model das spezifische Wissen fehlt.</em></p>
    <hr/>

    <p>Kopieren Sie nun hilfreichen Text in das Info-Feld und stellen Sie die Frage erneut.</p>
    <p>Die neuen Informationen werden im nächsten Schritt zur Beantwortung herangezogen, das Model erweitert.</p>

      <form action = "{{ url_for('step2')}}" method = "POST">
         <input type="hidden" name="answer_old" value="{{ answer }}">
         <input type = "hidden" name = "question" value="{{ question }}"/>
         <p><textarea cols="120" rows="10" name="context">Der Name ist  WERNER Ludwig Alvo (Graf) Alvensleben.
Das Geburtsdatum von  WERNER Ludwig Alvo (Graf) Alvensleben ist 20.7.1840.
WERNER Ludwig Alvo (Graf) Alvensleben wurde am 20.7.1840  geboren.
Der Geburtsort von  WERNER Ludwig Alvo (Graf) Alvensleben ist  (Kreis Oschersleben, Sachsen).
Das Sterbedatum von  WERNER Ludwig Alvo (Graf) Alvensleben ist 19.2.1929 Neugattersleben (Kreis Oschersleben, Sachsen).
WERNER Ludwig Alvo (Graf) Alvensleben ist am 19.2.1929 Neugattersleben (Kreis Oschersleben, Sachsen) gestorben.
Der Grundbesitz von  WERNER Ludwig Alvo (Graf) Alvensleben ist Neugattersleben (seit 1869).
Die Religion von  WERNER Ludwig Alvo (Graf) Alvensleben ist evangelisch.
             </textarea></p>
         <p><input type = "submit" value="Absenden und erneut fragen"/></p>
      </form>

{% endblock %}