{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Preussen KI Demonstrator {% endblock %}</h1>
    <h2>Model ohne Zusatzwissen</h2>

  <table>

            <tr>
                <th><strong>Ihre Frage:</strong></th>
               <td> {{ question }} </td>
            </tr>
              <tr>
               <th>Antwort des (untrainierten) Models:</th>
               <td> {{ answer }} </td>
            </tr>

      </table>
    <p></p>
    <p><em>Diese Antwort ist wahrscheinlich falsch, da dem Model das spezifische Wissen fehlt.</em></p>
    <hr/>

    <p>Kopieren Sie nun hilfreichen Text in das Info-Feld und stellen Sie die Frage erneut.</p>
    <p>Die neuen Informationen werden im nächsten Schritt zur Beantwortung herangezogen, das Model erweitert.</p>

      <form action = "{{ url_for('step2')}}" method = "POST">
         <input type="hidden" name="answer_old" value="{{ answer }}">
         <input type = "hidden" name = "question" value="{{ question }}"/>
         <p><textarea cols="120" rows="10" name="context">
             Werner Ludwig Alvo (Graf) von Alvensleben wurde 1840 geboren und starb 1929.
Er war von 1880 bis 1894 von Beruf preußischer Kammerherr.
Er war von 1894 bis 1901 von Beruf Schlosshauptmann von Quedlinburg.
Er war von 1901 bis 1929 von Beruf Graf.
Im Jahr 1913 erhielt er das Exzellenz-Prädikat.
Er war von 1880 - 1929 ein erfolgreicher Landwirt und Unternehmer.
Er beherbergte Kaiser Wilhelm II. oft zur Jagd in Neugattersleben.
Er hatte eine Tochter mit Namen Wilhelmine.
Kaiser Wilhelm II. war der Pate der Tochter von Werner Ludwig Alvo (Graf) von Alvensleben.
            </textarea> </p>
         <p><input type = "submit" value="Absenden und erneut fragen"/></p>
      </form>

{% endblock %}